body {
  min-height: 100vh;
  display: flex;
  align-items: center right;
  justify-content: center right;
  background-size: cover;
}

.left {
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 2rem;
}

form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
}
.form-title {
  color: #283629;
  font-size: 2.2rem;
  margin: 3%;
  align-self: self-start;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap:10px;
width: 100%;
}

label {
  color: #283629;
  font-size: 15px;
  font-weight: 600;
}

input,
textarea {
  padding: 7px;
  border-radius: 7px;
  background-color: #e8e8e8;
  border: 1px solid #cbc9c9;
  color: black;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #bbbbbb;
}

.form-txt {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.form-txt a {
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn-register {
  font-size: 16px;
  color: #ffffff;
  border: 0;
  width: 100%;
  border-radius: 7px;
  background: #d21d3c;
  cursor: pointer;
  height: 3rem;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 3 1fr;
  }
}

@media (max-width: 800px) {
  body {
    margin: 20px;
    padding: 20px;
  }

  form {
    margin: 20px;
    padding: 30px 30px;
    width: 50%;
  }

  input {
    padding: 15px;
  }
}